<head>
    <link href= 'https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel= 'stylesheet'>
    <link rel = 'stylesheet' href = '/list.css'/>
</head>

<body>
    <header class='header'>
        <nav class='navbar'>
            <ul class='nav-buttons'>
                <form method='GET' action="/">
                    <button> Home </button>
                </form>
                <form method='GET' action="/list">
                    <button> List </button>
                </form>
            </ul>
        </nav>
    </header>   

    <div class= 'flex-container'>
        <main>    
            <header>
                <h1>Email List</h1>
            </header>
        
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(function(entry) { %>
                    <tr>
                        <!-- <td data-label="ID:"><%= entry.id %></td> -->
                        <td data-label="Email:"><%= entry.email %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table><br>

            <!-- Pagination -->
            <div class = 'nav'>
                <% if (currentPage > 1) { %>
                    <a href='/list?page=<%= currentPage - 1 %>' class= 'button'>Previous</a>
                <% } %>
                    Page <%= currentPage %> of <%= totalPages %>
                <% if (currentPage < totalPages) { %>
                    <a href='/list?page=<%= currentPage + 1 %>' class= 'button'>Next</a>
                <% } %>
            </div><br>
        </main>
    </div>
</body>