<head>
    <link href= 'https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel= 'stylesheet'>
    <link rel = 'stylesheet' href = '/list.css'/>
</head>

<body>
    <header class= 'header'>
        <nav class= 'navbar'>
            <ul class= 'nav-buttons'>
                <form method= 'GET' action= '/'>
                    <button> Home </button>
                </form>
                <form method= 'GET' action= '/list'>
                    <button> List </button>
                </form>
            </ul>
        </nav>
    </header>   

    <div class= 'flex-container'>
        <main>            
            <table>
                <form method= 'GET' action= '/list'>
                    <input type= 'text' name= 'search' class = 'search' placeholder= 'Enter Your Email' value= '<%= search %>' />
                    <button class= 'abtn' type= 'submit'> Search </button>
                </form>

                <tbody>
                    <% list.forEach(function(entry) { %>
                    <tr>
                        <td data-label= 'Email:'><%= entry.email %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table><br>

            <div class = 'nav'>
                <div class= 'nav'>
                    <% if (currentPage > 1) { %>
                        <a href= '/list?page=<%= currentPage - 1 %>&search=<%= search %>' class= 'abtn'> Previous </a>
                    <% } %>
                        Page <%= currentPage %> of <%= totalPages %>
                    <% if (currentPage < totalPages) { %>
                        <a href= '/list?page=<%= currentPage + 1 %>&search=<%= search %>' class= 'abtn'> Next </a>
                    <% } %>
            </div><br><br>
        </main>
    </div>
</body>